/* Akatara Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

/* Start Variables */
:root {
    --main-color: #1A5F7A;
    --secondary-color: #002B5B;
    --third-color: #159895;
    --fourth-color: #57C5B6;
    --gray-color: rgb(222, 222, 222);
}
    
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170;
    }
}
/* Extra Large */
@media (min-width: 1600px) {
    .container {
        width: 1400px;
    }
}

/* End Global Rules */

/* Start Header */
header {

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 5rem;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    width: calc((100% - 30px));
    left: 15px;
}
header .container .logo {
    font-family: 'Alkatra', cursive;
    font-size: 2rem;
    color: var(--main-color);
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: #002B5B;
    font-size: 1.5rem;
    cursor: pointer;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
.active {
    display: flex;
    left: 15px;
}
@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px);
        position: absolute;
        top: 5rem;
        left: -200%;
        justify-content: center;
        text-align: center;
        background-color: var(--fourth-color);
        transition: 0.4s all ease-in-out;
    }
    li a {
        font-weight: 900;
    }
}
header li a {
    display: block;
    padding: 2rem 0.7rem;
    color: rgb(33, 33, 33);
    font-size: 1rem;
    transition: 0.3s;
}
header li a.home,
header li a:hover {
    color: var(--main-color);
}
/* End Header */